{
  "env": {
      "node": true,
      "browser": true,
      "es2021": true
  },
  "extends": [
      "eslint:recommended",
    //   "plugin:react/recommended",
    //   "plugin:prettier/recommended"
  ],
  "parserOptions": {
      "ecmaFeatures": {
          "jsx": true
      },
      "ecmaVersion": 2021,
      "sourceType": "module"
  },
  "plugins": [
      "react", "prettier"
  ],
  "rules": {
      "no-unused-vars": 1,
//   "prettier/prettier": [
//       "error",
//       {
//           "endOfLine": "auto"
//       }
//   ],
  "react/prop-types": 1
  },
  "settings": {
      "react": {
          "version": "detect",
          "linebreak-style": ["error", "window"]
      }
  }
}
