@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Thin.eot');
    src: url('Roboto-Thin.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Thin.svg#Roboto-Thin') format('svg'),
         url('Roboto-Thin.ttf') format('truetype'),
         url('Roboto-Thin.woff') format('woff'),
         url('Roboto-Thin.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
  }

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-ThinItalic.eot');
    src: url('Roboto-ThinItalic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-ThinItalic.svg#Roboto-ThinItalic') format('svg'),
         url('Roboto-ThinItalic.ttf') format('truetype'),
         url('Roboto-ThinItalic.woff') format('woff'),
         url('Roboto-ThinItalic.woff2') format('woff2');
    font-weight: 100;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Light.eot');
    src: url('Roboto-Light.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Light.svg#Roboto-Light') format('svg'),
         url('Roboto-Light.ttf') format('truetype'),
         url('Roboto-Light.woff') format('woff'),
         url('Roboto-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Italic.eot');
    src: url('Roboto-Italic.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Italic.svg#Roboto-Italic') format('svg'),
         url('Roboto-Italic.ttf') format('truetype'),
         url('Roboto-Italic.woff') format('woff'),
         url('Roboto-Italic.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: url('Roboto-Regular.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Regular.svg#Roboto-Regular') format('svg'),
         url('Roboto-Regular.ttf') format('truetype'),
         url('Roboto-Regular.woff') format('woff'),
         url('Roboto-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
  }  


  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Medium.eot');
    src: url('Roboto-Medium.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Medium.svg#Roboto-Medium') format('svg'),
         url('Roboto-Medium.ttf') format('truetype'),
         url('Roboto-Medium.woff') format('woff'),
         url('Roboto-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Bold.eot');
    src: url('Roboto-Bold.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Bold.svg#Roboto-Bold') format('svg'),
         url('Roboto-Bold.ttf') format('truetype'),
         url('Roboto-Bold.woff') format('woff'),
         url('Roboto-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }
  

  @font-face {
    font-family: 'Roboto';
    src: url('Roboto-Black.eot');
    src: url('Roboto-Black.eot?#iefix') format('embedded-opentype'),
         url('Roboto-Black.svg#Roboto-Black') format('svg'),
         url('Roboto-Black.ttf') format('truetype'),
         url('Roboto-Black.woff') format('woff'),
         url('Roboto-Black.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  }
  
  